<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
<title>About</title>
    </head>
    <body>
        <div class="main-content">
          {{>header}}
          <img class='portrait 'src="/Img/a.jpg"><br>

          <p>Basic Node Js Developer</p>
        </div>
      
        {{>footer}}
    </body>
</html>