<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
<title>About</title>
    </head>
    <body>
        <div class="main-content">
          {{>header}}
          <p>This Site was Created By Raj Rathore. It Uses Data From Mapbox.com And Darksky.net!</p>
          <img class='portrait 'src="/Img/a.jpg">
        </div>
      
        {{>footer}}
    </body>
</html>