<!DOCTYPE html>
<html>
    <head>
          <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
<title>Help</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
          <p>{{helptext}}</p><br>
          <p><b>Email:</b>rathoreraj725@gmail.com</p>
          <b>Instagram:</b><a href="https://www.instagram.com/_raj_rathore__">_raj_rathore__</a><br><br>
          <b>Twitter:</b><a href="https://twitter.com/Rajrathore725">Rajrathore725</a><br><br>
          <b>Facebook:</b> <a href="https://www.facebook.com/raj.rathore.18659041">Raj Rathore</a><br><br>
          <b>Github:</b> <a href="https://github.com/raj7096">Raj Rathore</a><br><br><br>

          <p>This Site Uses Data From Mapbox.com And Darksky.net!</p>

        
        </div>
      
        {{>footer}}
    </body>
</html>